.about {
  &__title {
    margin-bottom: 50px;
  }
  &__description {
    font-size: 70px;
    line-height: 1.12;
    opacity: 0;

    .aboutLine {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is_reveal {
      opacity: 1;
    }
  }
}
